.medicine-page {
  .info-box {
    display: inline-flex;
    align-items: center;
    padding: 30px 20px 30px 20px;
    border-bottom: 1px solid $cl-border;
    .info-box-icon {
      flex: 0 0 70px;
      height: 70px;
      border-radius: 50%;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .info-box-content {
      padding-left: 25px;
      h4 {
        font-size: $fs-small;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 15px;
        @include dot_left;
      }
      h6 {
        font-size: 20px;
        color: $cl-blue;
        margin-bottom: 15px;
        sup {
          font-weight: 400;
        }
      }
    }
    &:last-child {
      border-bottom: 0
    }
    &:first-child {
      padding-top: 0
    }
  }

  .related_post {
    .related_post-item {
      margin-top: 15px;
      margin-bottom: 25px;
      .info {
        padding-left: 25px;
        .info-title {
          padding-bottom: 30px;
          font-size: $fs-small;
          @include dot_left;
        }
      }
    }
  }
}

@include screen_sp {
  .medicine-page {
    .info-box {
      display: block;
      padding: 30px 0 30px 30px;
      .info-box-icon {
        width: 70px;
        height: 70px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
      }
      .info-box-content {
        padding: 0;
        h5 {
          padding-left: 25px;
          font-size: $fs-default;
          @include dot_left($left: 0);
        }
      }
      &:first-child {
        padding-top: 10px;
      }
    }
  }
}
