.top-doctor {
  .top-heading-area {
    .list-tab {
      margin-top: 10px;
      padding-bottom: 13px;
      position: relative;
      ul {
       font-size: 0;
       li {
        font-size: 13px;
        display: inline-block;
        font-weight: 700;
        padding-right: 56px;
        letter-spacing: 1px;
        &:hover {
          span {
            cursor: pointer;
            @include dot_left;
            text-decoration: underline;
            &:after {
              top: 5px;
            }
          }
        }
        &.active {
          color: $cl-blue;
        }
          &:last-child {
            padding-right: 0;
          }
        }
      }
      .arrow-group {
        position: absolute;
        right: 7px;
        top: -1px;
        img {
          vertical-align: middle;
          cursor: pointer;
        }
        span {
          margin-left: 28px;
        }

      }
    }
  }
  .arrow-group {
      span {
          cursor: pointer;
          &:after {
              content: '';
              width: 16px;
              height: 11px;
              background: url('../img/common/arrow-forward_black.png') center center no-repeat;
              background-size: contain;
              display: inline-block;
          }
          &:hover:after {
              background: url('../img/common/arrow-forward_blue.png') center center no-repeat;
              background-size: contain;
          }
      }
    .arrow-left:after {
          transform: rotate(180deg);
        }
  }
  .list-content-tab {
    .tab-content {
      display: none;
      &.active-tab-content {
        display: block;
      }
    }
    .doctor-item {
      margin-bottom: 30px;
      text-transform: uppercase;
      font-size: 14px;
      cursor: pointer;
      img {
        border-radius: 5px;
        overflow: hidden;
      }
      p {
        margin-top: 28px;
      }
    }
  }

}
@include screen_sp{
  .top-doctor {
    padding-bottom: 30px;
    .top-heading-area {
      padding-top: 23px;
      padding-bottom: 20px;
      .list-tab{
        padding-bottom: 0;
        ul li {
          &:first-child {
            padding-right: 0;
            display: block;
            padding-bottom: 4px;
          }
        }
        }
    }
    .list-content-tab {
      .owl-nav {display: none;}
      .doctor-item {
        margin-bottom: 22px;
        p {
          font-size: 13px;
          margin-top: 15px;
        }
      }
    }
    .arrow-group.hidden-pc {
      span {
        margin: 0 30px;
        img  {
          vertical-align: top;
        }
      }
    }
  }
}
