html {
	font-size: 15px;
}
body {
	font-weight: 400;
	font-size: $fs-small;
	color: $cl-main_text;
	line-height: 30px;
	margin: 0 auto;
	transition: opacity .4s;
	opacity: 1;
	&.body-fixed {
		overflow-y: hidden;
	}
	.site-lang-en,.site-lang-vi {
		font-family: 'Maven Pro', sans-serif;
	}
	.site-lang-ko {
		font-family: 'Noto Sans', sans-serif;
	}
	.site-lang-jp {
		font-family: 'Noto Sans JP', sans-serif;
	}
}
body.overflow {
	overflow-y: hidden;
	.overlay {
		display: block !important;
		opacity: 1 !important;
	}
}

a {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: underline;
	}
}
a, button, input, textarea {
	&:focus {
		outline: none;
	}
}
b {
	font-weight: 700;
}
ul {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: bottom;
}
img.img-responsive {
	display: block;
	height: auto;
	width: 100%;
}

hr {
	border-top: 1px solid $cl-border
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}
.container-fluid {
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}
.clearfix {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}
.row-revert {
	flex-direction: row-reverse;
}
.row,.row0 {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;

	>[class*="col"] {
		padding-left: 15px;
		padding-right: 15px;
		min-height: 1px;
	}
}
.row,.row0 {
	@for $i from 1 through 12 {
		$size: (12 / $i);
		.col--#{$i} {
			width: (100 / $size) * 1%;
		}
	}
}

.col-item-right {
	flex: 2;
}
.row0 {
	margin: 0 auto;

	>[class*="col"] {
		padding-left: 0px;
		padding-right: 0px;
	}
}
.row-fluid {
	margin: 0 -15px;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right
}
.pb-100 {
	padding-bottom: 100px;
}
.pt-100 {
	padding-top: 100px;
}
.hidden, .hidden-pc {
	display: none;
}
.full_width {
	display: flex;
	flex-wrap: wrap;

	.content-column {
		float: none;
	}
}

.hover_card {
	.hover_icon {
		background-color: $cl-ogrange;
		border-radius: 50%;
		padding: 40px;
	}
	&:hover {
		border: 1px solid $cl-blue !important;
		.hover_icon {
			background-color: $cl-blue;
		}
		h4 {
			text-decoration: none;
		}
	}
}

input, textarea, select {
	&:focus {
		border: 1px solid $cl-blue
	}
	&.wpcf7-not-valid {
		border: 1px solid $cl-ogrange
	}
}

.btn_blue {
	background-color: $cl-blue;
	&:hover {
		background-color: $cl-ogrange
	}
}

.btn_ogrange {
	background-color: $cl-ogrange;
	&:hover {
		background-color: $cl-blue
	}
}

.bg-blue {
	background-color: $cl-blue
}

.bg-ogrange {
	background-color: $cl-ogrange
}

.bg-blur {
	background-color: $cl-blur
}

.only-sp {
	display: none;
}

@include screen_iphone6 {
	.only-sp {
		display: block;
	}
}

@include screen_sp {
	body {
		line-height: 31px;
		font-size: 14px;
	}
	.row-revert {
		flex-direction: inherit;
	}
	.padding-5 {
		padding: 0 10px;
	}
	.container {
		padding: 0 20px;
	}
	.row {
		margin: 0 -10px;
	}
	.row {
		> [class*="col"] {
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.col-item-right {
		flex: auto;
	}
	.row0 {
		margin: 0 auto;

		> [class*="col"] {
			width: 100%;
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	.hidden-sp {
		display: none;
	}
	.hidden-pc {
		display: block;
	}
}
