$fs-smallest: 12px;
$fs-smaller: 13px;
$fs-small: 14px;
$fs-default: 16px;
$fs-big: 26px;
$fs-biger: 30px;

$cl-main: #3676AD;
$cl-overlay: rgba(9, 47, 80, 0.8);
$cl-border: #E4ECF0;
$cl-blur: #ECF4F5;
$cl-main_text: #303053;
$cl-blue: #5EC4EA;
$cl-ogrange: #EFAD4D;
$cl-white: #fff;
